# Environment Variables Example Configuration
PORT=8080

# Database Configuration
DB_DSN=postgres://postgres:password@localhost:5432/mi-tech?sslmode=disable

# Security Configuration
ALLOWED_ORIGINS=http://localhost:5173,https://mi-tech.millennialperfumer.in
