# Environment Variables Example Configuration
PORT=8080

# Database Configuration
# Local Docker DB:
DB_DSN=postgres://postgres:password@localhost:5432/wisegst?sslmode=disable

# Shopify API Configuration
SHOPIFY_STORE_URL=your-store.myshopify.com
SHOPIFY_ACCESS_TOKEN=your_shopify_access_token_here
